<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestEnvironment" value="Stage1" />
    <add key="Browser" value="Chrome" />
    <add key="DataPath" value="TestData\BuggyCarsData.json" />
    <add key="TestResultPath" value="\TestResults\" />
    <add key="StagingEnv1URL" value="https://buggy.justtestit.org/" />
    <add key="StagingEnv2URL" value="https://buggy.justtestit.org/" />
    <add key="StagingEnv3URL" value="https://buggy.justtestit.org/" />
    <add key="TestResultPath" value=".\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>